@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.staff__page {
  width: calc(100% - 20px);
  max-width: 1000px;
  margin: auto;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.staff__text-input {
  width: 100%;
  height: 25px;
  padding: 0;
  font-size: 15px;

  background-color: transparent;
  border: none;
  border-radius: 0;
}

.staff__textarea {
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 15px;

  border: none;
  outline: none;
  resize: none;
  overflow: hidden;

  color: white;
  background-color: transparent;
}

.staff__interaction-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.staff__achievement-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.staff__achievement-creation-panel {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: solid 2px var(--border-color);
  border-radius: 10px;

  background-color: var(--background-color);
}

.staff__achievement-creation-panel__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.staff__achievement-creation-panel__row.right {
  justify-content: right;
}

.staff__achievement {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: var(--background-color);
  border-radius: 10px 10px 0 0;
  border: solid var(--border-color) 2px;

  position: relative;
}

.staff__achievement.solved {
  border-color: #2a5e3f;
}

.staff__achievement__name {
  /* leave space for actions button */
  padding-right: 40px;

  word-break: break-word;

  font-size: 30px;
  font-weight: 600;
}

.staff__achievement__description-container {
  word-break: break-word;
  overflow-wrap: normal;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.staff__achievement__description-container.solution > p, ul, li {
  color: #f87d7d;
}

.staff__achievement__input-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.staff__achievement__solution {
  color: #ffc0c0;
}

.staff__achievement__beatmap {
  height: 50px;

  display: flex;
  flex-direction: row;
  gap: 5px;

  color: white;
}

.staff__achievement__beatmap.red {
  color: #ffc0c0;
}

.staff__achievement__beatmap__cover {
  height: 100%;
  aspect-ratio: 18/5;

  border-radius: 10px;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.staff__achievement__beatmap__info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  text-wrap: nowrap;

  overflow: hidden;

  color: inherit;
}

.staff__achievement__beatmap__info__title {
  color: inherit;
}

.staff__achievement__beatmap__info__version {
  font-size: 15px;

  color: inherit;
}

.staff__achievement__beatmap__star-rating {
  padding-top: 5px;

  font-size: 40px;
  font-weight: 600;

  color: inherit;
}

.staff__achievement__password-input {
  flex-grow: 1;
}

.staff__achievement__footer {
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.staff__achievement__footer__item-container {
  height: calc(100% - 12px);

  padding: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;

  border: solid var(--border-color) 2px;
  border-radius: 5px;

  position: relative;
}

.staff__achievement__footer__item-container:hover {
  cursor: pointer;
}

.staff__achievement__footer__item-container.disabled:hover {
  cursor: default;
}

.staff__achievement__footer__rating-container {
  padding: 10px;

  top: 35px;
  left: -50px;
  position: absolute;

  background-color: var(--site-background-color);
  border: 1px white solid;
  border-radius: 10px;

  z-index: 2;
}

.staff__achievement__footer__rating-container:hover {
  cursor: default;
}

.staff__achievement__footer__rating-container.hidden {
  display: none;
}

.staff__rating-bar {
  width: 300px;

  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.staff__rating-bar__square-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.staff__rating-bar__clear-btn:hover {
  cursor: pointer;
}

.staff__rating-bar__square {
  width: 20px;
  height: 20px;

  border: 1px solid var(--border-color);
}

.staff__rating-bar__square:hover {
  cursor: pointer;
}

.staff__rating-bar__square.filled {
  background-color: white;
}

.staff__rating-bar__square.unfill {
  background-color: #ffb5b5;
}

.staff__rating-bar__square.fill {
  background-color: #d1e8ff;
}

.staff__rating-bar__stat {
  width: 40px;

  text-align: center;
}

.staff__achievement__footer__tag {
  height: calc(100% - 12px);

  padding: 4px 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: solid var(--border-color) 2px;
  border-radius: 20px;
}

.staff__achievement__creator {
  font-size: 14px;
}

.staff__achievement__comment-container {
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 0 0 10px 10px;

  background-color: var(--border-color);
}

.staff__achievement__comment-container__row {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  gap: 5px;
}

.staff__achievement__comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.staff__achievement__comment__user {
  flex-basis: 210px;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.staff__achievement__comment__user__avatar {
  width: 50px;
  aspect-ratio: 1/1;

  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.staff__achievement__comment__user__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff__achievement__comment__user__details__title {
  font-size: 15px;
}

.staff__achievement__comment__divider {
  min-width: 2px; /* prevent flex squishing */
  align-self: stretch;

  background-color: var(--site-background-color);
}

.staff__achievement__comment__content {
  position: relative;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  word-break: break-word;
}

.staff__achievement__comment__content__text {
  padding-right: 35px;
}

.staff__achievement__comment__content__footer {
  color: #d3d3d3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.staff__achievement__comment__footer-text {
  color: inherit;
  font-size: 16px;
}

.staff__achievement__comment__footer-text.action {
  text-decoration: underline;
}

.staff__achievement__comment__footer-text.action:hover {
  cursor: pointer;
  color: #eaeaea;
}

@media(max-width: 700px) {
  .staff__achievement__comment {
    flex-direction: column;
  }

  .staff__achievement__comment__divider {
    display: none;
  }

  .staff__achievement__comment__user {
    flex-basis: auto;
  }

  .actions-button.comment-action {
    top: -55px;
  }

  .actions-menu.comment-action {
    top: -25px;
  }
}

.staff-batch-move-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.staff-batches-listing {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-batch {
  display: flex;
  flex-direction: column;
}

.staff-batch__banner {
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;

  background-color: var(--background-color);
  border: 2px solid var(--border-color);

  position: relative;
}

.staff-batch__divider {
  width: 2px;
  background-color: var(--border-color);
}

.staff-batch__heading-container {
  writing-mode: sideways-lr;
  display: flex;
  flex-direction: column;
  gap: 5px;

  text-align: center;
}

.staff-batch__achievement-info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-batch__achievements-list {
  flex-grow: 1;
  padding-right: 37px;  /* Dropdown button */

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-batch__footer-text {
  padding-right: 37px;  /* Dropdown button */

  color: #cccccc;
  font-size: 16px;
}

.staff-batch__dropdown {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.staff-batch__dropdown:hover {
  cursor: pointer;
}

.staff-batch__achievements {
  width: calc(100% - 20px);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  border-left: 2px solid white;
}

/* Creation page */

.staff-creation__page {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.staff-creation__page-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.staff-creation__page-col.docs {
  max-width: 300px;

  padding: 10px;
  border: solid white 1px;
}

.staff-creation__func-doc {
  display: flex;
  flex-direction: column;
}

.staff-creation__func-doc-name {
  margin: 0;
  font-size: 20px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.staff-creation__func-doc-name:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.staff-creation__func-doc-details {
  display: flex;
  flex-direction: row;
}

.staff-creation__func-doc-details-indent {
  width: 2px;
  margin: 0 5px;

  background-color: white;
}

.staff-creation__func-doc-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-creation__func-doc-description {
  font-size: 16px;
}

.staff-creation__section {
  display: flex;
  flex-direction: column;
}

.staff-creation__section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.staff-creation__section-header-text {
  margin: 0;
}

.staff-creation__section-container {
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-creation__remove-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.staff-creation__remove-btn {
  max-height: 40px;
}

.staff-creation__entry {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.staff-creation__entry--col {
  padding-left: 10px;

  border-left: 2px solid var(--border-color);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-creation__entry-subtitle {
  margin: 10px 0;
  font-size: 1.5em;
}

.staff-creation__dropdown {
  width: auto;
}

input[type="text"].staff-creation__input {
  max-width: 150px;
}

input[type="text"].staff-creation__input.extended {
  max-width: 250px;
}

input[type="number"].staff-creation__input {
  max-width: 75px;
}

textarea.staff-creation__input {
  padding: 4px 8px;

  background-color: black;
  color: white;

  border: 2px solid var(--border-color);

  font-size: 16px;
}

select.staff-creation__input {
  max-width: 150px;
}

.staff-creation__checkbox-container {
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  border: solid 2px var(--border-color);
}

.staff-creation__checkbox-label {
  margin: 0;
}

.staff-creation__checkbox {
  margin: 0;
}

.staff-creation__multi-select {
  background-color: black;
  color: white;
  border: solid 2px var(--border-color);
  border-radius: 0;
}

.staff-creation__multi-select__control {
  padding: 5px;
  gap: 10px;
  background-color: black;
  color: inherit;
}

.staff-creation__multi-select__menu {
  background-color: black;
  border: solid 2px var(--border-color);
  border-radius: 0;
}

.staff-creation__multi-select__value-container {
  gap: 4px;
  flex-wrap: wrap;
}

.staff-creation__multi-select__option {
  padding: 5px;
}

.staff-creation__multi-select__option:hover {
  background-color: #222;
}

.staff-creation__multi-select__multi-value {
  padding: 5px;

  background-color: #222;
  border-radius: 2px;
}

.staff-creation__multi-select__value-container {
  padding-left: 5px;
}

/* algorithm coding styling */

.staff-creation__input.coding {
  font-family:
    "JetBrains Mono",
    ui-monospace,
    Consolas,
    "Courier New",
    monospace;
  font-size: 16px;

  position: relative;
  display: inline-block;
}

textarea.staff-creation__input.coding,
div.staff-creation__input.coding-display,
span.staff-creation__input.coding {
  font-family: inherit;

  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;

  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  column-count: initial;
  text-rendering: auto;
}

textarea.staff-creation__input.coding {
  width: 400px;
  height: 50px;
  min-width: 200px;

  color: transparent;
  background: transparent;
  caret-color: white;
  overflow-y: hidden;
}

div.staff-creation__input.coding-display {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 6px;
  left: 10px;
  overflow: hidden;
}

span.staff-creation__input.coding {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 0;
  margin: 0;
  border: none;
  line-height: inherit;
}

.staff-creation__input.coding-autofill {
  padding: 5px 10px;

  display: none;  /* flex */
  flex-direction: column;

  background-color: #505050;

  position: absolute;
  z-index: 5;
}

.staff-creation__input.coding-autofill.show {
  display: flex;
}

.staff-creation__autofill-item {

}

.staff-creation__autofill-item.selected {
  background-color: rgba(1, 1, 1, 0.2);
}
